# Exercise 2: Create markdown cell with title of the notebook

# DataScienceEcosystem

# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

* List languages used in data science
* List libraries used in data science
* Use tables
* Using and evaluating arithmetic expressions

# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas (Python)
2. Numpy (Python)
3. Seaborn (Python)
4. ggplot (R)
5. dplyr (R)

# Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|Jupyter Notebook |
|JupiterLab|
|Visual Studio Code|
|Spyder|
|R studio|

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

# Exercise 8 - Create a code cell to multiply and add numbers

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

# Exercise 9 - Create a code cell to convert minutes to hours

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Jhon Willy Arias Ch√°vez